
      <table>
      <tr>
        <th> Title </th>
        <th> Author </th>
        <th> Status </th>
        <th> Priority </th>
        <th> DateOfAdding </th>
        <th> Category </th>
        </tr>

      <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>
          <td>Cell 5</td>
          <td>Cell 6</td>

      </tr>
    </table>


