@using MelonMVCBookshelf.ViewModels.Dashboard
@using  MelonMVCBookshelf.Models.Enums
@model RequestsPageViewModel

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <img src="melon-bookshelf-logo.svg">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="index.html">Home</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="ResourcesPage.html">Resources</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Requests</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn" id="sidebarToggle">
                    <img class="hamburger" src="assets/menu.svg" alt="Menu">

                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="RegisterPage.html">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="LogInPage.html">Log in</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Category</th>
                        <th scope="col">Author</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date of addition</th>
                        <th><a href="newRequest.html"><button  asp-controller="RequestController" asp-action="Add" class="btn btn-success">Add new</button></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td><a href="google.com"></a></td>
                        <td></td>

                        <td>
                            <div>
                                <a href="EditRequestPage.html">
                                    <button asp-controller="RequestController" asp-action="Edit" class="btn btn-primary">Edit</button>
                                </a>
                                <a href="RequestsDetails.html"><button asp-controller="RequestController" asp-action="Details" class="btn btn-info ml-1">Details</button></a>
                                <button  asp-controller="RequestController" asp-action="Delete" class="btn btn-danger ml-1">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                        <td></td>
                        <td></td>
                        <td>
                            <div>
                                <a href="EditRequestPage.html"><button asp-controller="RequestController" asp-action="Add" class="btn btn-primary">Edit</button></a>
                                <a href="RequestsDetails.html"><button asp-controller="RequestController" asp-action="Details" class="btn btn-info ml-1">Details</button></a>
                                <button asp-controller="RequestController" asp-action="Delete" class="btn btn-danger ml-1">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>