@{
    Layout = "_Layout";

    <form action="@Url.Action("Search", "ControllerName")" method="get">
        <input type="text" name="query" placeholder="Search..." />
        <input type="submit" value="Search" />
    </form>

}
